<% content_for :page_title, "Film Application" %>
<% content_for :page_subtitle, "A social way to create and manage your film related projects!" %>

<!-- <section class="hero is-info is-large">
	<div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active">
                <a>Overview</a>
              </li>
              <li>
                <a>Modifiers</a>
              </li>
              <li>
                <a>Grid</a>
              </li>
              <li>
                <a>Elements</a>
              </li>
              <li>
                <a>Components</a>
              </li>
              <li>
                <a>Layout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>      	
</section> -->

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths is-8">
				<h1 class="title">Why Film Application?</h1>
				<p>Film Application is a free and fun way to create and manage your film related projects. Have fun, make friends, earn achievements and expand your portfolio in a unique and creative way!</p>
			</div>			
			<div class="column is-two-fifths is-4">
				<div class="box has-background-info">
					<h1 class="title has-text-white">Click below to login</h1>	
					<%= link_to 'Login', new_user_session_path, class: 'button is-info is-inverted' %>
					<h1 class="title has-text-white">Don't have an account? Click below to sign up for free!</h1>
					<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-success' %>          
				</div>
			</div>
		</div>
	</div>	
</section>

